// Font stack variables
$header-font-stack: oswald, Georgia, serif;
$body-font-stack: Helvetica-Neue, Helvetica, sans-serif;

// Colors
$header-color: #353;
$text-color: #252;
$border-color: #797;

html {
  font-size: 100%;
}

body {
  font: .75rem $body-font-stack;
  color: $text-color;
}

h1 {
  font: 2rem/2.5 $header-font-stack;
  color: $header-color;

}

table {
  border: 1px dashed $border-color;
  border-bottom: none;

  th {
    font: 1.5rem/1.5 $header-font-stack;
    color: $header-color;
    text-align: left;
    border-bottom: 1px dashed $border-color;
    padding: 10px;

    &.name {
      width: 260px;
    }

    &.price {
      width: 65px;
    }

    &.quantity {
      width: 135px;
      text-align: center;
    }

    &.shipping {
      width: 340px;
    }

    &.total {
      width: 70px;
      text-align: center;
    }

  }

  td {
    padding: 10px;
    border-bottom: 1px dashed $border-color;
    border-bottom: 1px dashed $border-color;
  }

}

input[type=number] {
  width: 40px;
  font-size: .95rem;
  color: $text-color;
}

button {
  font: .95rem $body-font-stack;
  color: $text-color;
  margin-left: 10px;
}

input[type=radio] {
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.lead-time {
  font-style: italic;
  font-weight: bold;
}

.item-amount,
.allowance-label,
.allowance-amount {
  text-align: right;
  padding: 10px;
}

.shipping-option {
  margin-bottom: 1.25em;
}

.shipping-method {
  margin-bottom: 4px;
}

.estimated-arrival {
  margin-left: 25px;
  font-size: .75em;
  margin-top: 0;
}